<!-- 알림을 표시할 영역 -->
<div id="notification-area"></div>

<!-- SignalR 및 알림 JS 로드 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script src="~/js/notification.js"></script>
