<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>알림</title>
    <script>
        window.onload = function () {
            // Alert 메시지 표시
            alert('@ViewData["Message"]');
            // 이전 페이지로 이동
            history.back();
        };
    </script>
</head>
<body>
</body>
</html>